<% if user_signed_in? %>
  <% if current_user.is_a_member_of_any_league? %>
    <% current_user.memberships.each do |membership| %>
      <h2><%= link_to membership.league.name, league_homes_path(membership.league) %></h2>
    <% end %>
  <% else %>
    <h2>
      <%= link_to 'Create', new_league_path %> 
      or <%= link_to 'Join', leagues_path %>
      a League
    </h2>
  <% end %>
<% else %>
  <h2>
    <%= link_to 'Sign in', new_user_session_path %> 
     or <%= link_to 'Create a New Account', new_user_registration_path %>
     to view Leagues
  </h2>
<% end %>