
<nav class="navbar navbar-expand-lg league-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <%= link_to 'League Home', league_homes_path(@current_league), class: 'nav-link' %>
      <%= link_to 'My Roster', '#', class: 'nav-link' %>
      <%= link_to 'Players', '#', class: 'nav-link' %>
      <%= link_to 'Standings', '#', class: 'nav-link' %>
      <%= link_to 'Scoreboard', '#', class: 'nav-link' %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Teams
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @current_league.rosters.each do |roster| %>
            <%= link_to roster.team_name, '#', class: 'nav-link' %>
            <span class="dropdown-divider"></span>
          <% end %>
        </div>
      </li>
      <% if current_user.is_admin?(@current_league) %>
        <%= link_to 'Admin Tools', league_admin_tools_path(@current_league), class: 'nav-link' %>
      <% end %>
    </ul>
  </div>
</nav>