<h1>Free Agents</h1>

<div class="table-responsive-lg player-table">
  <table id="dtDynamicVerticalScrollExample" class="table table-hover table-bordered table-sm" cellspacing="0"
  width="100%">
    <%# <thead class="thead-light">
      <tr>
        <th class="text-center" colspan="16">2018-2019 Season
      </tr>
    </thead> %>
    <thead class="thead-light player-stats">
      <tr>
        <th class="th-sm" scope="col">#</th>
        <th class="th-sm" scope="col">Name</th>
        <th class="th-sm" scope="col">Position</th>
        <th class="th-sm" scope="col">GP</th>
        <th class="th-sm" scope="col">MPG</th>
        <th class="th-sm" scope="col">PPG</th>
        <th class="th-sm" scope="col">RPG</th>
        <th class="th-sm" scope="col">APG</th>
        <th class="th-sm" scope="col">SPG</th>
        <th class="th-sm" scope="col">BPG</th>
        <th class="th-sm" scope="col">TOPG</th>
        <th class="th-sm" scope="col">FG%</th>
        <th class="th-sm" scope="col">3Pt%</th>
        <th class="th-sm" scope="col">FT%</th>
        <th class="th-sm" scope="col">FPPG</th>
        <th class="th-sm" scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
      <% row = 1 %>
      <% @players.each do |player|%>
        <tr id="<%= player.id %>">
          <th scope="row"><%= row %></th>
          <th scope="col">
          <%= link_to player.name, '#' %>
          
          <button type="button" class="btn btn-primary btn-circle" 
            data-toggle="modal" data-target="#contractModal" data-contract-year-url="<%= league_admin_roster_player_contract_years_path(@league, @roster, player) %>">
            <i class="fa fa-plus"></i></button>
          </th>
          <td scope="col"><%= player.position %></td>
          <td scope="col"><%= player.gp %></td>
          <td scope="col"><%= player.mpg %></td>
          <td scope="col"><%= player.ppg %></td>
          <td scope="col"><%= player.rpg %></td>
          <td scope="col"><%= player.apg %></td>
          <td scope="col"><%= player.spg %></td>
          <td scope="col"><%= player.bpg %></td>
          <td scope="col"><%= player.topg %></td>
          <td scope="col"><%= player.fg_perc %></td>
          <td scope="col"><%= player.fg3_perc %></td>
          <td scope="col"><%= player.ft_perc %></td>
          <td scope="col"><%= player.fppg %></td>
          <td scope="col"><%= player.current_salary %></td>
        </tr>
        <% row += 1%>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @players, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>



<%# <% @players.each do |player|%>
  <%# <div class="row">
    <div class="col-8">
      <p><%= link_to player.name, league_admin_roster_player_path(@league, @roster, player), method: :put, data: {confirm: 
        <%# "You would like to add #{player.name} to #{@roster.team_name}?"} %>
    <%# </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#contractModal" data-contract-url="<%= league_admin_roster_player_contracts_path(@league, @roster, player) %>
      <%# Add Player
    </button>
  </div>
<%# <% end %>



<!-- Modal -->
<div class="modal fade" id="contractModal" tabindex="-1" role="dialog" aria-labelledby="contractModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contractModalLongTitle">Contract Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag '#',  id: 'newContractYearForm' do %>
      <div class="modal-body">
          <div class="form-group">
            <label for="contractFormControlSelect1">Number of Years</label>
            <select class="form-control" id="contractFormControlSelect1">
              <option selected>Select Number</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <%# <div class="contractSalaries">
          </div> %>
        <div class="new-contract-year">
          <div class="contractSalaries"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag 'Submit', class:"btn btn-primary" %>
        <%# <button type="button" class="btn btn-primary">Submit</button> %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<%# <%= simple_form_for @contract_year, url: '#', html: {id: 'newContractYearForm'} do |f| %> 
  <%# <%= f.label :season %> 
  <%# <%= f.text_field :season %> 
  <%# <%= f.label :salary %> 
  <%# <%= f.text_field :salary %> 
  <%# <%= f.label :team_option %> 
  <%# <%= f.text_field :team_option %> 
<%# <%= f.submit "Create", class: "btn btn-primary" %>

<script>
  $(function () {

    // $(document).ready(function () {
    //   $('#dtDynamicVerticalScrollExample').DataTable({
    //     "scrollY": "50vh",
    //     "scrollCollapse": true,
    //   });
    //   $('.dataTables_length').addClass('bs-select');
    // });


    var contract_modal = $('#contractModal');
    $('th > button').click(function(e) {
      var contractUrl = $(e.target.parentNode).data('contract-year-url');
      console.log(contractUrl);
      $('#newContractYearForm').attr('action', contractUrl);
      var id = e.target.parentElement.parentElement.id;
      var playerName = e.target.parentNode.parentNode.childNodes[1].innerText;
      var modalTitle = $('#contractModalLongTitle');
      modalTitle.text(playerName);
      $('#contractFormControlSelect1').change( function(e) {
        var numYears = parseInt(e.target.value);
        if (!isNaN(numYears)) {
          var html = '';
          var d = new Date();
          var currentMonth = d.getMonth();
          var currentSeason = d.getFullYear();
          if (currentMonth < 5) {  // If it's May or earlier
            currentSeason = currentSeason - 1;
          }
          for (var i = 0; i < numYears; i = i + 1) {
            html = html + 
            '<div class="form-group">' +
              '<div class="row">' +
                '<label class="col-9" for="salary">' + currentSeason + ' Salary</label>' +
                '<label class="col-3" for="team_option">Team Option</label>' +
              '</div>' +
              '<div class="row contract-year-input">' +
                '<div class="col-9">' +
                  '<%= text_field_tag "contract_years[contract_years][]contract_year[salary]" %>' +
                '</div>' +
                '<div class="col-3">' +
                  '<%= check_box_tag(:team_option, 'true', false, :name=> 'contract_years[contract_years][]contract_year[team_option]') %>' +
                '</div>' +
                '<hr/>' +
              '</div>' +
            '</div>';
            currentSeason = currentSeason + 1;
          }
          $('.contractSalaries').html(html);
        }
        else {
          var html = $('.contractSalaries').html('');
        }
      });
    });
  });
</script>