
<h1>Free Agents</h1>



<div class="table-responsive-lg player-table">
  <table id="players-datatable" class="table table-hover table-bordered table-sm" cellspacing="0"
  width="100%" data-source="<%= league_admin_roster_players_path(@league, @roster, format: :json) %>">
    <thead class="thead-light player-stats">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
        <th>GP</th>
        <th>MPG</th>
        <th>PPG</th>
        <th>RPG</th>
        <th>APG</th>
        <th>SPG</th>
        <th>BPG</th>
        <th>TOPG</th>
        <th>FG%</th>
        <th>3Pt%</th>
        <th>FT%</th>
        <th>FPPG</th>
        <th>Salary</th>
        <th>Add</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
<div>
















<%# <%= will_paginate @players, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>



<%# <% @players.each do |player|%>
  <%# <div class="row">
    <div class="col-8">
      <p><%= link_to player.name, league_admin_roster_player_path(@league, @roster, player), method: :put, data: {confirm: 
        <%# "You would like to add #{player.name} to #{@roster.team_name}?"} %>
    <%# </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#contractModal" data-contract-url="<%= league_admin_roster_player_contracts_path(@league, @roster, player) %>
      <%# Add Player
    </button>
  </div>
<%# <% end %>



<!-- Modal -->
<div class="modal fade" id="contractModal" tabindex="-1" role="dialog" aria-labelledby="contractModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contractModalLongTitle">Contract Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag '#',  id: 'newContractYearForm' do %>
      <div class="modal-body">
          <div class="form-group">
            <label for="contractFormControlSelect1">Number of Years</label>
            <select class="form-control" id="contractFormControlSelect1">
              <option selected>Select Number</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <%# <div class="contractSalaries">
          </div> %>
        <div class="new-contract-year">
          <div class="contractSalaries"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag 'Submit', class:"btn btn-primary" %>
        <%# <button type="button" class="btn btn-primary">Submit</button> %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<%# <%= simple_form_for @contract_year, url: '#', html: {id: 'newContractYearForm'} do |f| %> 
  <%# <%= f.label :season %> 
  <%# <%= f.text_field :season %> 
  <%# <%= f.label :salary %> 
  <%# <%= f.text_field :salary %> 
  <%# <%= f.label :team_option %> 
  <%# <%= f.text_field :team_option %> 
<%# <%= f.submit "Create", class: "btn btn-primary" %>
<script>
  $(function () {
    jQuery(document).ready(function() {
      $('#players-datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": $('#players-datatable').data('source')
        },
        "pagingType": "full_numbers",
        "columns": [
          {"data": "first_name"},
          {"data": "last_name"},
          {"data": "position"},
          {"data": "gp",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "mpg",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "ppg",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "rpg",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "apg",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "spg",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "bpg",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "topg",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "fg_perc",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "fg3_perc",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "ft_perc",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "fppg",
          "orderSequence": [ "desc", "asc" ]},
          {"data": "current_salary",
            render: $.fn.dataTable.render.number( ',', '.', 0, '$' ),
          "orderSequence": [ "desc", "asc" ]
          },
          {"defaultContent": "",
          "sortable" : false}
        ],
        rowGroup: true,
        "pageLength": 50,
        "initComplete": function(settings, json) {
        }
      });
      $('#players-datatable').on( 'draw.dt', function () {
        
        var rows = $("#players-datatable > tbody > tr");
        $("#players-datatable > tbody > tr").each( function(index) { 
          var last_child = $("#players-datatable > tbody > #" + rows[index].id + " > td:last-child");
          console.log(last_child);
          var id = rows[index].id;
          last_child.html('<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#contractModal" data-contract-year-url="/leagues/<%= @league.id %>/admin/rosters/<%= @roster.id %>/players/' + id + '/contract_years">+</button>')
          // new_row_html = row_html + '<th><button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#contractModal" data-contract-year-url="/leagues/<%= @league.id %>/admin/rosters/<%= @roster.id %>/players/' + id + '/contract_years"></button></th>';
          // $("#players-datatable > tbody > #" + rows[index].id).html(new_row_html);
        });

        $('#players-datatable > tbody > tr > td > button').click(function(e) {
          var contractUrl = $(e.target).data('contract-year-url');
          $('#newContractYearForm').attr('action', contractUrl);
          var id = e.target.parentElement.parentElement.id;
          var lastName = e.target.parentNode.parentNode.childNodes[1].innerText;
          var firstName = e.target.parentNode.parentNode.childNodes[0].innerText;
          var playerName = firstName + ' ' + lastName;
          var modalTitle = $('#contractModalLongTitle');
          modalTitle.text(playerName);
          $('#contractFormControlSelect1').change( function(e) {
            var numYears = parseInt(e.target.value);
            if (!isNaN(numYears)) {
              var html = '';
              var d = new Date();
              var currentMonth = d.getMonth();
              var currentSeason = d.getFullYear();
              if (currentMonth < 5) {  // If it's May or earlier
                currentSeason = currentSeason - 1;
              }
              for (var i = 0; i < numYears; i = i + 1) {
                html = html + 
                '<div class="form-group">' +
                  '<div class="row">' +
                    '<label class="col-9" for="salary">' + currentSeason + ' Salary</label>' +
                    '<label class="col-3" for="team_option">Team Option</label>' +
                  '</div>' +
                  '<div class="row contract-year-input">' +
                    '<div class="col-9">' +
                      '<%= text_field_tag "contract_years[contract_years][]contract_year[salary]" %>' +
                    '</div>' +
                    '<div class="col-3">' +
                      '<%= check_box_tag(:team_option, 'true', false, :name=> 'contract_years[contract_years][]contract_year[team_option]') %>' +
                    '</div>' +
                    '<hr/>' +
                  '</div>' +
                '</div>';
                currentSeason = currentSeason + 1;
              }
              $('.contractSalaries').html(html);
            }
            else {
              var html = $('.contractSalaries').html('');
            }
          });
        });
      } );
        // pagingType is optional, if you want full pagination controls.
        // Check dataTables documentation to learn more about
        // available options.
    });
  });
    
    // $(document).ready(function () {
    //   $('#dtDynamicVerticalScrollExample').DataTable({
    //     "scrollY": "50vh",
    //     "scrollCollapse": true,
    //   });
    //   $('.dataTables_length').addClass('bs-select');
    // });
    // $(document).ready(function() {
    //   $("#dttb").dataTable();
    // });

  //   var contract_modal = $('#contractModal');
  // });
</script>