<div class="team-header container">
  <div class="row align-items-center">
    <%= image_tag 'user.png' %>
    <div class="team-header-info">
      <h1><%= @roster.team_name %></h1>
      <div id="record"><%= "#{@roster.wins} - #{@roster.losses} - #{@roster.ties}" %></div>
      <div id="owner-name">Current Matchup: <%= nil %></div>
    </div>
  </div>
  <br/>
  <div class="row align-items-center">
    <div class="col-2">
      <p><%= "#{@roster.user.first_name} #{@roster.user.last_name}" %></p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-3">
      <% if current_user.is_admin?(@current_league) %>
        <%= link_to 'Add Players (Admin)', league_admin_roster_players_path(@roster.league, @roster), class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-3">
      <% if current_user.owns_roster?(@roster)%>
        <%= link_to 'Team Settings', edit_league_roster_path(@roster.league, @roster), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row two-tables-row">
  <div class="table-responsive-lg roster-table">
    <table class="table table-hover table-bordered table-sm" cellspacing="0"
    width="100%">
      <%# <thead class="thead-light">
        <tr>
          <th class="text-center" colspan="16">2018-2019 Season
        </tr>
      </thead> %>
      <thead class="thead-light player-stats">
        <tr>
          <th class="th-sm" scope="col">Position</th>
          <th class="th-sm" scope="col">Name</th>
          <th class="th-sm" scope="col">Move</th>
          <th class="th-sm" scope="col"><%= @season %></th>
          <th class="th-sm" scope="col"><%= @season + 1 %></th>
          <th class="th-sm" scope="col"><%= @season + 2 %></th>
          <th class="th-sm" scope="col"><%= @season + 3 %></th>
        </tr>
      </thead>
      <tbody>
        <% row = 1 %>
        <% @roster_spots.each do |roster_spot| %>
          <% player_association = roster_spot.player_association %>
          <% player = player_association == nil ? nil : player_association.player %>
          <tr class="roster-spot not-toggled" id="<%= player_association == nil ? 'none' : player_association.id %>">
            <th scope="row" class="position" id="<%= roster_spot.id %>"><%= roster_spot.position %></th>
            <th scope="col">
              <% if player != nil %>
                <div class="roster-player-cell">
                  <%= link_to player.name, '#' %>
                  &nbsp;&nbsp;
                  <span>
                    <%= "#{player.nba_team.abbrev} #{player.primary_position}" %>
                    &nbsp;&nbsp;
                    <% if current_user.owns_roster?(@roster) || current_user.is_admin? %>
                      <%= link_to fa_icon("minus-circle"), league_roster_player_association_path(@current_league, @roster, player_association),
                      method: :delete, data: {confirm: "Are you sure you want to drop #{player.name}?"} %>
                    <% end %>
                  </span>
                </div>
              <% else %>
                <%= nil %>
              <% end %>
            </th>
            <th class="move-button not-pushed">
              <% if player != nil %>
                <button type="button" class="btn-sm btn-secondary move-player-button">Move</button>
              <% end %>
            </th>
            <% 4.times do |i| %>
              <td scope="col" class="team-option-<%= player_association != nil ? i < player_association.contract_years.length ? player_association.contract_years[i].team_option : "false" : "false" %>"> 
                <%= player_association != nil ? i < player_association.contract_years.length ? number_to_currency(roster_spot.salary_multiplier * player_association.contract_years[i].salary, { precision: 0 }) : nil : nil %>
              </td>
            <% end %>
          </tr>
          <% row += 1%>
        <% end %>
        <tr class="roster-salary" id="salary-adds">
          <th scope="row">Salary Adds</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <% i = 0 %>
          <% @roster.roster_salaries.each do %>
            <td scope="col"><%= number_to_currency(@roster.roster_salaries.find_by_year(@season + i).salary_adds, { precision: 0 }) %></td>
            <% i += 1 %>
          <% end %>
        </tr>
        <tr class="roster-salary" id="penalties">
          <th scope="row">Penalties</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <% i = 0 %>
          <% @roster.roster_salaries.each do %>
            <td scope="col"><%= number_to_currency(@roster.roster_salaries.find_by_year(@season + i).penalty, { precision: 0 }) %></td>
            <% i += 1 %>
          <% end %>
        </tr>
        <tr class="roster-salary" id="traded-salary">
          <th scope="row">Traded Salary</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <% i = 0 %>
          <% @roster.roster_salaries.each do %>
            <td scope="col"><%= number_to_currency(@roster.roster_salaries.find_by_year(@season + i).traded_salary, { precision: 0 }) %></td>
            <% i += 1 %>
          <% end %>
        </tr>
        <tr class="roster-salary" id="salary-total">
          <th scope="row">Salary Total</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <% i = 0 %>
          <% @roster.roster_salaries.each do %>
            <td scope="col"><%= number_to_currency(@roster.roster_salaries.find_by_year(@season + i).salary_total, { precision: 0 }) %></td>
            <% i += 1 %>
          <% end %>
        </tr>
        <tr class="roster-salary" id="cap">
          <th scope="row">Salary Cap</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"><%= number_to_currency(115000000, { precision: 0 }) %></td>
          <td scope="col"><%= number_to_currency(117500000, { precision: 0 }) %></td>
          <td scope="col"><%= number_to_currency(120000000, { precision: 0 }) %></td>
          <td scope="col"><%= number_to_currency(120000000, { precision: 0 }) %></td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="table-responsive-lg pick-table">
    <table class="table table-hover table-bordered table-sm" cellspacing="0"
    width="100%">
      <%# <thead class="thead-light">
        <tr>
          <th class="text-center" colspan="16">2018-2019 Season
        </tr>
      </thead> %>
      <thead class="thead-light">
        <tr>
          <th class="th-sm" scope="col">Years</th>
          <th class="th-sm" scope="col">Round 1</th>
          <th class="th-sm" scope="col">Round 2</th>
          <th class="th-sm" scope="col">Round 3</th>
        </tr>
      </thead>
      <tbody>
        <% @years.each do |year|%>
          <tr>
            <th scope="row"><%= year %></th>
            <% picks_in_year = @picks.where(year: year) %>
            <% picks_in_year.each do |pick| %>
              <td scope="col"><%= pick.roster.team_abbrev %></td>
              <%#           
              <button type="button" class="btn btn-primary btn-circle" 
                data-toggle="modal" data-target="#contractModal" data-contract-year-url="<%= league_admin_roster_player_contract_years_path(@league, @roster, player) %>
                <%# <i class="fa fa-plus"></i></button> %>
              <%# </th> %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(function () {
    $('.move-player-button').click( function (e) {
      var playerId = e.target.parentElement.parentElement.id;
      var row = $('#' + playerId);
      row.css("background-color", "#cecece");
      row.toggleClass('not-toggled toggled');

      var pushedButton = $('#' + playerId + ' .not-pushed').toggleClass('not-pushed pushed');
      var notPushedButtons = $('.roster-spot .not-pushed');
      notPushedButtons.html('<button type="button" class="btn-sm btn-success move-here-button">Here</button>');
      var possibleRows = $('.roster-table tbody .not-toggled');
      var rosterSpotIds = $('.roster-table tbody .not-toggled th.position');

      $('.move-here-button').click( function (e) {
        var rosterSpotId = e.target.parentElement.parentElement.children[0].id;
        console.log(rosterSpotId);
        $.ajax({
          type: 'PUT',
          url: '/leagues/<%= @current_league.id %>/rosters/<%= @roster.id %>/player_associations/' + playerId,
          dataType: 'json',
          data: { roster_spot_id : rosterSpotId },
          success: function () {
            console.log("success");
          }
        });
      });
      // Add button to any row that is a valid position
      // $('.roster-table tbody tr').each( function(index) {
      //   if (tableRows[index].id != "none") {
      //     var playerCell = $(".roster-table tbody #" + tableRows[index].id + " .move-button");
      //     console.log(playerCell)
      //   }
      // });
    });
  });
</script>
